<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Введение в Java - разработку</title>
    <style>
        .types {
            color: gray;
            font-family: arial,serif;
            background: beige;
        }
    </style>
</head>

<body>
<h1>Урок 1</h1>
<h1>Знакомство с языком</h1>
<p>Привет! В этом уроке мы начнем изучать язык java.</p>
<p>
<div class="types">
    <p>Java является строго типизированным языком программирования.<br>
        Это значит, что каждая переменная имеет определенный тип,<br>
        который строго определен и неизменяем.
    </p>
</div>
<p>
    <a href="https://www.youtube.com/channel/UCP5ycahCEZ24qmRRgNnko5Q/about">
        <img src="java for machine learning.png" alt="Java">
    </a>
</p>
</body>
</html>